.top-app {
  background-color: #313947;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 50px;
}

.form-wrapper {
  box-sizing: border-box;
  background-color: #292e38;
  border-radius: 8px;
  padding: 2em 5em 3em;
  width: 100%;
  margin: 0 auto;
}

.editor-area {
  /* width: 1000px; */
  margin: 0 auto;
}
.ck-wrapper {
  margin: 0 auto;
  width: 80%;
  background-color: white;
  background-color: inherit;
}
.ck-input {
  /* width:  980px !important; */
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 30px auto;
  font-size: 25px;
  border-radius: 3px;
  background-color: inherit;
  border: 1px solid #17a2b8;
  padding: 5px 10px;
  color: white;
}

.ck-input::placeholder {
  font-size: 20px;
}
